@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1 class="display-4">Welcome to Temple Tours</h1>
</header>

<html>
<body class="text-center">
    <p>Temple Tours was created to simplify the process of signing up for tours of the beautiful, and nearly completed, Layton Temple.</p>
    <h2>Layton Utah Temple</h2>
    <p>
        Angel Moroni installed on the west spire on March 9, 2022; interior work progressing; landscaping of the grounds underway; estimated to be completed in early 2023
    </p>
    <br />
    <img src="~/img/layton-utah-temple-6932-main.jpg" />
    <br /><br />

    <h4>We are excited to see you! Please click the "Sign Up" button above or click <a asp-action="SignUp">here </a>to sign up for a tour </h4>
</body>

</html>