@{
    ViewData["Title"] = "SelectTime";
}

<header>
    <h1>Select a Date and Time to tour the Layton, Utah Temple</h1>
</header>

<html>
    <body>
        <p>here we need to set up a way for them to select the time and date and when they click on the date- then time it takes them to the signup page</p>

        <p>
            once they select the time it will take them
            <a asp-action="SignUp">here </a>to fill in a form with their information.
        </p>
    </body>
</html>