@{
    ViewData["Title"] = "SelectTime";
}

@model SignUpGenius.Models.FormResponse

<header>
    <h1>Select a Date and Time to tour the Layton, Utah Temple</h1>
</header>


<html>
<body>
    <p>here we need to set up a way for them to select the time and date and when they click on the date- then time it takes them to the signup page</p>

    <p>
        once they select the time it will take them
        <a asp-action="SignUp">here </a>to fill in a form with their information.
    </p>


    <form method="post">
        <label asp-for="TimeSlot">Time:</label>
        <select asp-for="TimeSlotID">
            <option value="">Select a time</option>
            @foreach (TimeSlot t in ViewBag.TimeSlot)
            {
                <option value="@t.TimeSlotID">@t.TourTime</option>
                <input type="hidden" name="TimeId" value="@t.TimeSlotID"/>
                //this might give an error? 
            }
        </select>
    </form>


</body>
</html>