
@{
    ViewData["Title"] = "Sign Up";
}
@model SignUpGenius.Models.FormResponse

<h1> Sign your group up for a tour of the Layton, Utah Temple</h1>

<div>
    <form method="post" asp-controller="Home" asp-action="SignUp">

        <div asp-validation-summary="All" class="text-danger"></div>

        <label asp-for="GroupName">Group Name:</label>
        <input asp-for="GroupName" />
        <br />

        <label asp-for="GroupSize">Group Size:</label>
        <input asp-for="GroupSize" />
        <br />

        <label asp-for="Email">Email:</label>
        <input asp-for="Email" />
        <br />

        <label asp-for="Phone">Phone Number:</label>
        <input asp-for="Phone" />
        <br />

        <label asp-for="Phone">Phone Number:</label>
        <input type="hidden" asp-for="Phone" />
        <br />

        <div class="float-end">
            <input class="btn btn-primary" type="submit" value="Submit Reservation" />
        </div>
    </form>

</div>